sample/liquid.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML 2016 Designer Edition (Trial) 14.1.5.6733 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://DCMPlatform/v2.0">
  <xsd:element name="DCMCatalogueResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="LoginInfo" />
        <xsd:element minOccurs="0" name="List">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="TaskInstanceID" type="xsd:unsignedShort" />
              <xsd:element minOccurs="0" name="ContentID" type="xsd:string" />
              <xsd:element minOccurs="0" name="EntityTypeID" type="xsd:string" />
              <xsd:element minOccurs="0" name="CatalogueMetaData">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="CatalogueSystem" type="xsd:string" />
                    <xsd:element minOccurs="0" name="TopUnit">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" name="Name" type="xsd:string" />
                          <xsd:element minOccurs="0" name="TrimIn" type="xsd:unsignedByte" />
                          <xsd:element minOccurs="0" name="Duration" type="xsd:unsignedShort" />
                          <xsd:element minOccurs="0" name="Editor" />
                          <xsd:element minOccurs="0" name="Attributes">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" name="TypeName" type="xsd:string" />
                                <xsd:element minOccurs="0" name="TypeID" type="xsd:string" />
                                <xsd:element minOccurs="0" name="Attributes">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                            <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                            <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                  <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                  <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                                                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                        <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                        <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SubUnit">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" name="Name" type="xsd:string" />
                                <xsd:element minOccurs="0" name="TrimIn" type="xsd:unsignedShort" />
                                <xsd:element minOccurs="0" name="Duration" type="xsd:unsignedShort" />
                                <xsd:element minOccurs="0" name="Editor" />
                                <xsd:element minOccurs="0" name="Attributes">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element minOccurs="0" name="TypeName" type="xsd:string" />
                                      <xsd:element minOccurs="0" name="TypeID" type="xsd:string" />
                                      <xsd:element minOccurs="0" name="Attributes">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                  <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                        <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                                          <xsd:complexType>
                                                            <xsd:sequence>
                                                              <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                              <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                              <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                                                            </xsd:sequence>
                                                          </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element minOccurs="0" name="SubUnit">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element minOccurs="0" name="Name" type="xsd:string" />
                                      <xsd:element minOccurs="0" name="TrimIn" type="xsd:unsignedShort" />
                                      <xsd:element minOccurs="0" name="Duration" type="xsd:unsignedShort" />
                                      <xsd:element minOccurs="0" name="Editor" />
                                      <xsd:element minOccurs="0" name="Attributes">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element minOccurs="0" name="TypeName" type="xsd:string" />
                                            <xsd:element minOccurs="0" name="TypeID" type="xsd:string" />
                                            <xsd:element minOccurs="0" name="Attributes">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                        <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                                          <xsd:complexType>
                                                            <xsd:sequence>
                                                              <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                              <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                              <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                                                            </xsd:sequence>
                                                          </xsd:complexType>
                                                        </xsd:element>
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element minOccurs="0" name="CatalogueSystemID" type="xsd:string" />
                                      <xsd:element minOccurs="0" name="UnitID" />
                                      <xsd:element minOccurs="0" name="IconFrameID" type="xsd:byte" />
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element minOccurs="0" name="CatalogueSystemID" type="xsd:string" />
                                <xsd:element minOccurs="0" name="UnitID" />
                                <xsd:element minOccurs="0" name="IconFrameID" type="xsd:byte" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element minOccurs="0" name="CatalogueSystemID" type="xsd:string" />
                          <xsd:element minOccurs="0" name="UnitID" />
                          <xsd:element minOccurs="0" name="IconFrameID" type="xsd:byte" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" name="SubmitStatus" type="xsd:unsignedByte" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="MetaData">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="TypeName" type="xsd:string" />
                    <xsd:element minOccurs="0" name="TypeID" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Attributes">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" name="EntityData">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="TypeName" type="xsd:string" />
                    <xsd:element minOccurs="0" name="TypeID" type="xsd:unsignedByte" />
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                          <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" name="DCMClassification">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="ClassCode" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="HighAVFiles" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>