sample/海外素材xml/liquid.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML 2016 Designer Edition (Trial) 14.1.5.6733 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://DCMPlatform/v2.0">
  <xsd:element name="DCMImportRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="LoginInfo" />
        <xsd:element minOccurs="0" name="ImportContents">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="ContentID" type="xsd:string" />
              <xsd:element minOccurs="0" name="EntityID" type="xsd:unsignedInt" />
              <xsd:element minOccurs="0" name="ContentData">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="ContentFile">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="FileItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" name="FileGUID" type="xsd:string" />
                                <xsd:element minOccurs="0" name="TrackID" type="xsd:unsignedByte" />
                                <xsd:element minOccurs="0" name="QualityType" type="xsd:unsignedByte" />
                                <xsd:element minOccurs="0" name="FileTypeID" type="xsd:string" />
                                <xsd:element minOccurs="0" name="FileName" type="xsd:string" />
                                <xsd:element minOccurs="0" name="FileGroupName" type="xsd:string" />
                                <xsd:element minOccurs="0" name="MediaChannel" type="xsd:unsignedByte" />
                                <xsd:element minOccurs="0" name="FileInpoint" type="xsd:unsignedByte" />
                                <xsd:element minOccurs="0" name="FileOutpoint" type="xsd:unsignedShort" />
                                <xsd:element minOccurs="0" name="RefInpoint" type="xsd:unsignedByte" />
                                <xsd:element minOccurs="0" name="RefOutpoint" type="xsd:unsignedShort" />
                                <xsd:element minOccurs="0" name="FileSize" type="xsd:unsignedInt" />
                                <xsd:element minOccurs="0" name="FileLength" type="xsd:unsignedShort" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="EntityData">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" name="TypeName" type="xsd:string" />
                          <xsd:element minOccurs="0" name="TypeID" type="xsd:string" />
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" name="CatalogueMetaData">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="CatalogueSystem" type="xsd:string" />
                    <xsd:element minOccurs="0" name="TopUnit">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" name="Name" type="xsd:string" />
                          <xsd:element minOccurs="0" name="TrimIn" type="xsd:unsignedByte" />
                          <xsd:element minOccurs="0" name="Duration" type="xsd:unsignedShort" />
                          <xsd:element minOccurs="0" name="Attributes">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" name="TypeName" type="xsd:string" />
                                <xsd:element minOccurs="0" name="TypeID" type="xsd:string" />
                                <xsd:element minOccurs="0" name="Attributes">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                            <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                            <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                  <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                  <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                                                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                        <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                        <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element minOccurs="0" name="SubUnit">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" name="Name" type="xsd:string" />
                                <xsd:element minOccurs="0" name="TrimIn" type="xsd:unsignedShort" />
                                <xsd:element minOccurs="0" name="Duration" type="xsd:unsignedShort" />
                                <xsd:element minOccurs="0" name="Attributes">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element minOccurs="0" name="TypeName" type="xsd:string" />
                                      <xsd:element minOccurs="0" name="TypeID" type="xsd:string" />
                                      <xsd:element minOccurs="0" name="Attributes">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                  <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                                        <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                                        <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element minOccurs="0" name="CatalogueSystemID" type="xsd:string" />
                                <xsd:element minOccurs="0" name="UnitID" type="xsd:unsignedInt" />
                                <xsd:element minOccurs="0" name="IconFrameID" type="xsd:byte" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element minOccurs="0" name="CatalogueSystemID" type="xsd:string" />
                          <xsd:element minOccurs="0" name="UnitID" type="xsd:unsignedInt" />
                          <xsd:element minOccurs="0" name="IconFrameID" type="xsd:byte" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" name="MetaData">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="TypeName" type="xsd:string" />
                    <xsd:element minOccurs="0" name="TypeID" type="xsd:unsignedByte" />
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Attributes">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AttributeItem">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" name="ItemCode" type="xsd:string" />
                                <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                                <xsd:element minOccurs="0" name="Value" type="xsd:string" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="DCMClass">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="ClassNode" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="TaskInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Extention">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="ItemName" type="xsd:string" />
                    <xsd:element minOccurs="0" name="ItemValue" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CatalogueMetaData">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="CatalogueSystem" type="xsd:string" />
        <xsd:element minOccurs="0" name="TopUnit">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Name" type="xsd:string" />
              <xsd:element minOccurs="0" name="TrimIn" type="xsd:unsignedByte" />
              <xsd:element minOccurs="0" name="Duration" type="xsd:unsignedByte" />
              <xsd:element minOccurs="0" name="Attributes" type="xsd:string" />
              <xsd:element minOccurs="0" name="CatalogueSystemID" type="xsd:string" />
              <xsd:element minOccurs="0" name="UnitID" type="xsd:unsignedByte" />
              <xsd:element minOccurs="0" name="IconFrameID" type="xsd:unsignedByte" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>